<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Alekseon\CustomFormsBuilder\Block\Adminhtml\FormRecord">
        <plugin name="Alekseon_CustomFormsStatistics::AddStatisticsButtonPlugin" type="Alekseon\CustomFormsStatistics\Plugin\AddStatisticsButtonPlugin" />
    </type>
    <type name="Alekseon\CustomFormsStatistics\Model\StatisticProviderRepository">
        <arguments>
            <argument name="statisticProviders" xsi:type="array">
                <item name="select" xsi:type="array">
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsStatistics\Model\StatisticProvider\DefaultProviderFactory</item>
                </item>
                <item name="multiselect" xsi:type="array">
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsStatistics\Model\StatisticProvider\MultiselectProviderFactory</item>
                </item>
                <item name="boolean" xsi:type="array">
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsStatistics\Model\StatisticProvider\BooleanProviderFactory</item>
                </item>
                <item name="rating" xsi:type="array">
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsStatistics\Model\StatisticProvider\RatingProviderFactory</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
